*{
    padding: 0%;
    margin: 0%;
}

/* Start of Header 1 */

img.adjust{
    width: 20px;
    position: absolute;
    right: 5px;
}

div.header{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    
}

div.search{
    position: relative;
    margin: 10px;
    padding: 5px 10px;
    box-shadow: 0 0 5px grey;
}

div.search input{
    border: none;
    width: 230px;
}

div.search input:focus{
    outline: none;
}



div.cart .cart-box{
    background-color: #167F92;
    color: white;
    padding: 8px 10px;
    margin: 10px;
    font-size: small;
    border-radius: 20px;
}

div.cart .checkbox{
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 0 0 5px grey;
}

/* End of header 1 */





/* Start of Header 2 */

div.header2{
    margin: 5px 5px;
    display: inline-flex;
    width: 100%;
}

.header2>.category, .header2>.stock{
    width: 28%;
    /* padding: 5px 15px; */
    margin: 0 5px;
    border: 0;
    box-shadow: 0 0 5px grey;
    position: relative;
}

.header2>input{
    width: 28%;
    padding: 5px 25px;
    margin: 0 5px;
    border: 0;
    box-shadow: 0 0 5px grey;
    color: grey;
}


div.header2 .price{
    background-image: url("https://cdn-icons-png.flaticon.com/512/2150/2150062.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 2px;
}

.header2>.category .category-child{
    border: none;
    padding: 5px 20px;
    width: 100%;
}

.header2>.stock .stock-child{
    border: none;
    padding: 5px 25px;
    width: 100%;
}

.header2>input:focus, .stock-child:focus, .category-child{
    outline: none;
}

.header2 div i{
   
    position: absolute;
    left: 5px;
    top: 5px;
}

/* End of Header 2 */



/* Start of Table */

table{
    width: 98.6%;
    margin: 20px 10px 20px 10px;
    border-collapse: collapse;
    box-shadow: 0 0 10px grey;
    border-radius: 15px;
}
td{
    text-align: center;
    
}


/* table row 1 */

.tr1{
    
    color: white;
    background-color: #167F92;
    border: none;
    font-weight: bold;
}

.tr1 td{
    vertical-align: super;
}

.td1{
    padding: 15px;
    width: 5%;
    border-top-left-radius: 10px;

}

.td2{
    width: 8%;
}

.td3{
    width: 9%;
}

.td4{
    width: 9%;
}

.td5{
    width: 7%;
}

.td6{
    width: 7%;
}

.td7{
    width: 12%;
}

.td8{
    width: 6%;
}

.td9{
    width: 8%;
}

.td10{
    width: 6%;
}

.td11{
    width: 5%;
}

.td12{
    width: 9%;
    border-top-right-radius: 10px;
}

/* Table row 2 */

.tr2 td{
    padding: 10px 0;
    color: #167F92;
}
.marked:checked {
    background-color: #167F92;
  }

  .tr2 .td02 img{
    width: 40px;
    height: 40px;
  }

.tr2 .td03{
    font-weight: bold;
}

.tr2 .td06{
    font-weight: bold;
}

.tr2 .td05,  .tr2 .td04{
    color: gray;
  }


.tr2 .td07 span{
    background-color: #167F92;
    color: white;
    border-radius: 10px;
    width: 65px;
    /* padding: 1.5px 5px; */
    display: inline-block;
    height: 21px;
}
.tr2 .td07 span input{
    width: 18px;
    text-align: center;
    font-weight: bold;
    padding: 2px 0 1px 0;
    border: 1px solid lightgrey;
    
  }

  .tr2 .td07 span input:focus{
    outline: none;
  }

.tr2 .td011 .fa-solid{
    font-size: 10px;
}

.tr2 .td08 i, .td09 i, .td012 i{
    background-color: #167F92;
    color: white;
    padding: 6px;
    font-size: 12px;
    border-radius: 12px;
}


/* last row table */

#ltd1, #ltd12{
    border-radius: 0%;
}

#ltd1{
    border-bottom-left-radius: 10px;
}

#ltd12{
    border-bottom-right-radius: 10px;
}


/* Button */

button{
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 0 10px grey;
    width: 100px;
    padding: 10px;
    background-color: white;
    color: lightgrey;
}

div.button{
    display: flex;
    align-items: center;
    justify-content: center;
}